@charset "utf-8";
body{
    overflow: hidden;
}
#install-header{
    text-align: center;
    padding: 12px 0 12px;
    margin: 0px;
}
.install{
    margin: 10px auto !important;
    margin-bottom: 50px !important;
    padding: 0px !important;
    border:none !important;
    background:none !important;
    width: 500px;
    box-shadow: 0 0 16px 3px #add6ff !important;
}
.button{
    padding-top: 30px !important;
}
.icon-ok:before {
    content: "\f00c";
    color: green;
}
.panel-body {
    padding-bottom: 10px !important;
}
.panel-group {
    background: #fff !important;
    border-radius: 5px;
}

.alert{
    font-size: 14px !important;
    margin: 5px 25px !important;
}
i.icon-remove {
    color: red !important;
}
.button_1{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
ul.list {
    padding: 0;
    margin: 0;
    background-color: #4ba2ff;
    border-color: #4ba2ff;
    width: 100%;
    height: 45px;
    border-radius: 6px 6px 0px 0px;
}
ul.list li {
    text-align: center;
    padding: 6px 0px;
    float: left;
    list-style: none;
    color: #fff;
    width: 100px;
    margin: 0 auto;
}
.padding_70{
    padding-top: 10px;
}
.bottom {
    padding-top: 5px !important;
}