aside#pos__sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding: 5px 10px;
  transition: all 0.3s;
  transform: translateX(-120%);
  &.active {
    transform: translateX(0);
  }
  .brand__logo {
    img {
      width: 100%;
      height: auto;
    }
  }
  .pos__menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: calc(100% - 65px);
    .scroll-bar {
      left: -10px;
      width: 8px !important;
    }
    & > li {
      & > a {
        position: relative;
        display: flex;
        align-items: center;
        color: #555555;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
        transition: all 0.3s;
        .fa-chevron-left {
          position: absolute;
          right: 0;
          top: 15px;
          font-size: 12px;
          width: 12px;
          color: #555555 !important;
          transition: all 0.3s;
        }
        &:hover {
          color: #000;
        }
        i {
          font-size: 18px;
          width: 35px;
        }
      }
    }
    li.have_sub_menu.active {
      .fa-chevron-left {
        transform: rotate(-90deg);
      }
      .sub__menu__list {
        display: block;
        li {
          margin-left: 0;
          opacity: 1;
        }
      }
    }
    .sub__menu__list {
      margin: 0;
      padding: 0 0 0 35px;
      list-style-type: none;
      display: none;
      li {
        margin-left: -50px;
        opacity: 0;
        transition: all 0.3s;
        &:nth-child(1) {
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          transition-delay: 0.2s;
        }
        &:nth-child(3) {
          transition-delay: 0.3s;
        }
        &:nth-child(4) {
          transition-delay: 0.4s;
        }
        &:nth-child(5) {
          transition-delay: 0.5s;
        }
        &:nth-child(6) {
          transition-delay: 0.6s;
        }
        &:nth-child(7) {
          transition-delay: 0.7s;
        }
        &:nth-child(8) {
          transition-delay: 0.8s;
        }
        &:nth-child(9) {
          transition-delay: 0.9s;
        }
        &:nth-child(10) {
          transition-delay: 1s;
        }
        &:nth-child(11) {
          transition-delay: 1.1s;
        }
        &:nth-child(12) {
          transition-delay: 1.2s;
        }
        &:nth-child(13) {
          transition-delay: 1.3s;
        }
        a {
          position: relative;
          display: flex;
          align-items: center;
          color: #555555;
          padding: 10px;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          text-transform: capitalize;
          transition: all 0.3s;
          &:hover {
            color: #000;
          }
          i {
            width: 25px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

/* All Icon Color */
aside#pos__sidebar .pos__menu__list > li:nth-child(1) > a > svg {
  color: #1abc9c;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(2) > a > svg {
  color: #3498db;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(3) > a > svg {
  color: #9b59b6;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(4) > a > svg {
  color: #2ecc71;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(5) > a > svg {
  color: #f1c40f;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(6) > a > svg {
  color: #e67e22;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(7) > a > svg {
  color: hotpink;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(8) > a > svg {
  color: purple;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(9) > a > svg {
  color: steelblue;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(10) > a > svg {
  color: gold;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(11) > a > svg {
  color: cornflowerblue;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(12) > a > svg {
  color: crimson;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(13) > a > svg {
  color: rgb(14, 42, 168);
}
aside#pos__sidebar .pos__menu__list > li:nth-child(14) > a > svg {
  color: #1ae25d;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(15) > a > svg {
  color: orangered;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(16) > a > svg {
  color: cornflowerblue;
}
aside#pos__sidebar .pos__menu__list > li:nth-child(17) > a > svg {
  color: navy;
}
