#banner {
  position: relative;
  height: 750px;
  overflow: hidden;
  .main-bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    position: relative;
  }
  header {
    position: relative;
    z-index: 10;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      .menu-trigger {
        position: relative;
        width: 35px;
        height: 30px;
        span {
          position: absolute;
          top: 5px;
          left: 0;
          width: 100%;
          height: 3px;
          border-radius: 10px;
          background-color: white;
          transition: all 0.3s;
          &:nth-child(2) {
            top: 15px;
          }
          &:nth-child(3) {
            top: 25px;
          }
        }
        &.active {
          span:nth-child(1) {
            transform: rotate(-45deg);
            top: 15px;
          }
          span:nth-child(2) {
            opacity: 0;
          }
          span:nth-child(3) {
            transform: rotate(45deg);
            top: 18px;
          }
        }
      }
      .menu-list {
        margin: 0;
        padding: 0;
        .menu-item {
          display: inline-block;
          margin-right: 15px;
          font-size: 17px;
          text-transform: uppercase;
          & > a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
  .banner-content {
    padding: 50px 0;
    .left-content {
      .title {
        font-size: 50px;
        font-weight: bold;
        color: white;
      }
      .small-desc {
        color: white;
        font-size: 18px;
        margin: 30px 0;
        line-height: 30px;
      }
      .btn-read {
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.63);
        border-radius: 5px;
        color: white;
        width: 150px;
        height: 50px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        text-transform: uppercase;
        transition: all 0.3s;
        &:hover {
          background-color: white;
          color: $light-blue;
        }
      }
    }
    .right-content {
      .tab-shape {
        border: 35px solid #fff;
        background-color: white;
        border-radius: 20px;
        box-shadow: inset 0 2px 10px rgba(54, 54, 54, 0.295),
          0 2px 10px rgba(37, 37, 37, 0.3);
        padding: 2px;
        img {
          width: 100%;
        }
      }
    }
    .laptop-bg-layer {
      position: absolute;
      right: -39%;
      top: -45%;
      width: 850px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  padding: 20px 0;
  transform: translateX(-120%);
  transition: all 0.3s;
  z-index: 12;
  &.active {
    transform: translateX(0%);
  }
  .menu-list {
    margin: 0;
    padding: 0;
    li {
      display: block;
      a {
        display: block;
        text-decoration: none;
        color: $light-blue;
        padding: 7px 20px;
        transition: all 0.3s;
        &:hover {
          background-color: rgba($light-blue, 0.5);
          color: white;
        }
      }
    }
  }
}
