#features {
  margin: 90px 0;
  .main-title {
    text-align: right;
    max-width: 600px;
    margin-left: auto;
    .title {
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 25px;
    }
    p {
      font-size: 18px;
      color: $txt-color;
      margin-bottom: 40px;
    }
  }
  .navItemContainer {
    position: relative;
    top: -30px;
    button {
      background-color: transparent;
      border: 1px solid $light-blue;
      outline: none;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      transition: all 0.3s;
      &:focus,
      &:hover {
        background-color: $light-blue;
        svg {
          stroke: white;
        }
      }
      &:first-child {
        margin-right: 10px;
      }
      svg {
        stroke: $light-blue;
        transition: all 0.3s;
      }
    }
  }
  .feature-slider {
    .item {
      background-color: white;
      border: 1px solid #dedede;
      padding: 20px;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(85deg, $light-blue, $light-purple);
        border-radius: 10px;
        transition: all 0.3s;
        opacity: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
        .title,
        p {
          color: white;
        }
        svg {
          fill: white;
        }
      }
      img,
      svg {
        width: 50px;
        height: auto;
        display: inline-block;
      }
      .title {
        font-weight: bold;
        margin: 20px 0;
        font-size: 22px;
        transition: all 0.3s;
      }
      p {
        line-height: 28px;
        color: $txt-color;
        margin: 0;
        transition: all 0.3s;
      }
    }
  }
}

#valueable-feature {
  margin: 90px 0;
  .container {
    .main-title {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }
    & > .small-desc {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      color: $txt-color;
    }
    .content-wrapper {
      .right-item {
        .title {
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 30px;
        }
        .small-desc {
          color: $txt-color;
          line-height: 30px;
          text-align: justify;
        }
      }
    }
  }
  .flexinble {
    padding: 50px 0;
    .small-desc {
      text-align: justify;
    }
    .list-item {
      list-style-type: none;
      margin: 0;
      line-height: 50px;
      li {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: -30px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #0096d9;
        }
      }
    }
  }
  .cleanCode {
    padding-top: 50px;
  }
}

#review {
  margin-top: 9 0px;
  .left-content {
    position: relative;
    .dots {
      position: absolute;
      bottom: 0;
      left: -40px;
    }
    .review-info {
      margin-bottom: 100px;
      .title {
        font-weight: bold;
        font-size: 40px;
        margin: 0;
      }
      .small-description {
        color: $txt-color;
        margin-top: 20px;
        max-width: 500px;
      }
    }
    .review-slider {
      .item {
        position: relative;
        background-image: linear-gradient(65deg, $light-blue, $light-purple);
        padding: 30px;
        border-radius: 10px;
        color: white;
        .circle1,
        .circle2 {
          position: absolute;
        }
        .circle1 {
          bottom: -100px;
          left: 10%;
          width: 300px;
        }
        .circle2 {
          right: -50px;
          top: -50px;
          width: 170px;
        }
        .customer-name {
          font-size: 18px;
        }
        .customer-role {
          font-size: 14px;
        }
        .small-description {
          font-size: 16px;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            svg {
              fill: #ffc107;
              stroke: #ffc107;
              width: 17px;
              height: auto;
            }
          }
        }
      }
      .owl-nav {
        margin-top: 20px;
        button {
          width: 50px;
          height: 40px;
          background: $light-blue;
          transition: all 0.3s;
          svg {
            stroke: #fff;
          }
          &.disabled {
            background-color: #e9eaf1;
          }
        }
      }
    }
  }
}

#two-layer {
  padding: 100px 0;
  position: relative;
  .bg-layer {
    position: absolute;
    right: 0;
    top: -5%;
    max-width: 800px;
  }
  .content .row {
    padding: 70px 0 60px 0;
    background-color: white;
    box-shadow: 0 0 15px rgba(111, 115, 239, 0.3);
    border-radius: 10px;
  }
  .item {
    text-align: center;
    .icon {
      position: relative;
      background-color: $light-blue;
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0 auto 40px auto;
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: rgba($light-blue, 0.4);
        width: 110px;
        height: 110px;
        border-radius: 50%;
      }
      img {
        width: 40%;
        height: auto;
        display: block;
      }
    }
    .total-digit {
      font-weight: lighter;
      color: $light-blue;
    }
    .title {
      color: $txt-color;
      margin: 0;
    }
  }

  .pricing-plan {
    margin-top: 100px;
    text-align: center;
    position: relative;
    h2.title {
      font-weight: bold;
      margin-bottom: 50px;
      font-size: 40px;
    }
    .pricing-plan-wrapper {
      .b {
        &.highlight-plan {
          .plan {
            header {
              background-color: $light-blue;
            }
            .plan-btn {
              background-image: linear-gradient(
                to right,
                $light-blue,
                $light-purple
              );
              color: white !important;
            }
          }
        }
        .plan {
          border: 1px solid $light-blue;
          border-radius: 20px;
          overflow: hidden;
          header {
            background-color: #545454;
            color: white;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            .title {
              margin: 0;
              text-transform: uppercase;
            }
          }
          ul {
            margin: 20px 0 20px 0;
            padding: 0;
            li {
              display: block;
              padding: 10px 0;
              &:nth-child(1) {
                font-weight: bold;
                font-size: 25px;
              }
            }
          }
          .plan-btn {
            margin-bottom: 40px;
            border: none;
            outline: none;
            text-decoration: none;
            border: 1px solid $light-blue;
            background-color: transparent;
            text-transform: uppercase;
            height: 50px;
            width: 180px;
            line-height: 50px;
            display: inline-block;
            border-radius: 5px;
            color: $light-blue;
          }
        }
      }
    }
  }
}

#faq {
  background-color: #f9f9f9;
  padding: 80px 0;
  .container {
    position: relative;
    .faq-left,
    .faq-right {
      position: absolute;
    }
    .faq-left {
      top: 0;
      left: 0;
    }
    .faq-right {
      top: 20%;
      right: 0;
    }
    & > .title {
      margin-bottom: 40px;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }
  }
  .content {
    position: relative;
  }
  .accordion {
    .accordion-item {
      margin-bottom: 20px;
      .accordion-button {
        box-shadow: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#gallery {
  margin: 70px 0 60px 0;
  .title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }
  .gallery-slider {
    .item {
      position: relative;
      display: flex;
      align-items: center;
      height: 300px;
      &:hover {
        a {
          opacity: 1;
        }
      }
      img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        transition: all 0.3s;
      }
      a {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 85%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: all 0.3s;
        opacity: 0;
        svg {
          stroke: #fff;
          width: 50px;
          height: auto;
        }
      }
    }
    .owl-item.active.center {
      .item {
        img {
          width: 100%;
          height: 100%;
        }
        a {
          height: 100%;
        }
      }
    }
    .owl-nav {
      margin-top: 30px;
      text-align: center;
      button {
        background-color: transparent;
        border: 1px solid $light-blue;
        outline: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        transition: all 0.3s;
        &:focus,
        &:hover {
          background-color: $light-blue;
          svg {
            stroke: white;
          }
        }
        &:first-child {
          margin-right: 10px;
        }
        svg {
          stroke: $light-blue;
          transition: all 0.3s;
        }
      }
    }
  }
}

#contact {
  margin: 90px 0;
  .container {
    position: relative;
    background: url("../../assets/img/contact-us.png") no-repeat center center /
      cover;
    padding: 95px 100px 100px 100px;
    border-radius: 20px;
    overflow: hidden;
    .title {
      position: relative;
      font-size: 40px;
      font-weight: bold;
      color: white;
      text-align: center;
      margin-bottom: 40px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to left, $light-blue, $light-purple);
      opacity: 0.7;
    }
    form {
      position: relative;
      input,
      textarea {
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        height: 45px;
        box-shadow: none;
        color: white;
        &:focus {
          border: 2px solid rgba(255, 255, 255, 0.897);
        }
      }
      textarea {
        height: 130px;
        resize: none;
      }
      ::placeholder {
        color: white;
      }
      .submit-btn {
        width: 200px;
        height: 50px;
        font-weight: bold;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: white;
        color: $light-blue;
        margin-top: 30px;
      }
    }
  }
}

#footer-info {
  .logo {
    margin: 0 auto 30px auto;
    display: block;
  }
  .small-desc {
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
  }
  .divider {
    width: 100%;
    height: 2px;
    background-color: #7d7d7d94;
    margin: 40px 0;
  }
  .page-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      display: inline-block;
      a {
        color: #7d7d7d;
        display: block;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }

  .copyright-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    p {
      letter-spacing: 5px;
      margin: 0;
    }
    ul {
      margin: 0;
      li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(1) {
          a {
            background-color: #3054a4;
          }
        }
        &:nth-child(2) {
          a {
            background-color: #55acee;
          }
        }
        &:nth-child(3) {
          a {
            background-color: #c42862;
          }
        }
        &:nth-child(4) {
          a {
            background-color: #cd201f;
          }
        }
        a {
          width: 40px;
          height: 40px;
          display: block;
          text-align: center;
          line-height: 40px;
          border-radius: 5px;
          svg {
            stroke: white;
          }
        }
      }
    }
  }
}

.totop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: $light-blue;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s;
  transform: translateY(200px);
  z-index: 10;
  &.active {
    transform: translateY(0);
  }
  svg {
    stroke: #fff;
  }
}
